<html>
  <body>
    <h1>Hola {{username}}!! <h1/>
    Este es un correo de findMyRestaurant. Por favor presiona
    aqui para verificar tu correo
    <a href="localhost/user/verifica/{{id}}">Verifica tu correo</a>
  </body>
</html>
